hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

body {
  background-image: url(../images/bcg.jpg);
  font: sans-serif;
  text-align: center;
  margin: 0;
}

table {
  width: 100%;
}

h1, h2, h4, h5 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

/***************************CLASS SELECTOR***************************/
.background-img {
  width: 100%;
  position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.top-container {
  width: 100%;
  height: 50px;
  background-color: #16a596;
}

.middle-container {
  background-color: #e3fdfd;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 900px;
  padding: 20px 30px 0 30px;
  margin: 20px auto -300px auto;
  text-align: justify;
  position: relative;
  z-index: 9999;
}

.pbox {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}


/****************************ID SELECTOR*****************************/
