body {
  margin: 0;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

thead {
  text-align: left;
}

h1 {
  margin: 120px auto 50px auto;
  font-family: 'Dancing Script', cursive;
  color: #16a596;
  font-size: 4.5em;
  width: 15%;
    position: relative;
    z-index: 5;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 25px;
  margin: 0;
  text-align: justify;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #16a596;
  font-size: 1.5em;
  margin: 0;
  position: relative;
  z-index: 5;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ff2e63;
  font-size: 2em;
}

a{
  color: inherit;
}

/***********************class**********************/
.left {
  text-align: left;
  margin-left: 20px;
}

.right {
  text-align: right;
  margin-right: 20px;
}

.left-p {
  text-align: justify;
  margin-left: 20px;
}

.right-p {
  text-align: justify;
  margin-right: 20px;
}

.centre-p{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.description{
  text-align: center;
  width: 760px;
  margin-left:auto;
  margin-right: auto;
}

.profile {
  border-radius: 50%;
}

.main {
  background-color: #e3fdfd;
  padding-top: 10px;
  margin-bottom: -10pt;
}

.mountain {
  width: 100%;
  position: relative;
  z-index: 4;
  top: -120px;
}

.top-cloud {
  position: absolute;
  top: 200pt;
  right: 20%;
  width: 10%;
}

.bottom-cloud {
  position: absolute;
  top: 120pt;
  left: 20%;
  width: 15%;
}

.middle-container {
  background-color: #eaeaea;
  padding-top: 50px;
  margin-top: -150px;
  padding-bottom: 0;
}

.All-Books {
  width: 760px;
  margin: 50px auto 50px auto;
}

.book1-img {
  width: 100%;
  height: 100%;
}

.book2-img {
  width: 100%;
  height: 100%;
}

.books {
  width: 700px;
  height: auto;
  padding: 30px;
  margin: 10px auto 10px auto;
  display: block;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 9999;
}

.box-left {
  position: relative;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  margin: 0;
  overflow-wrap: break-word;
  display: inline-block;
  vertical-align: top;
}

.box-right {
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  height: auto;
  margin: 0;
  overflow-wrap: break-word;
  display: inline-block;
  vertical-align: top;
}

.box-content {
  position: relative;
  top: 0;
  margin-top: 0;
  width: 79%;
  height: auto;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  vertical-align: top;
}

.background-img {
  width: 100%;
  margin-top: -300px;
  position: relative;
}

.bottom-container{
  text-align: center;
  margin-top: -10px;
}



.contact-me {
  width: 100%;
  height: 180px;
  background-color: #ff2e63;
  padding-top: 30px;
}

.contact-head {
  font-family: 'Roboto Condensed', sans-serif;
  color: #252a34;
  width: 30%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.contact-desc {
  font-family: 'Roboto Condensed', sans-serif;
  color: #252a34;
  font-size: 1.2em;
}

.footer {
  background-color: #252a34;
}

.footer-link {
  text-align: center;
}

.icon {
  filter: invert(100%);
  margin: 8px 30px 1px 30px;
  text-align: center;
  width: 20px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #252a34;
  border-radius: 28px;
  border: 1px solid #08d9d6;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 12px 25px;
  text-decoration: none;
}

.btn:hover {
  background-color: #08d9d6;
}

.btn:active {
  position: relative;
  top: 1px;
}
